PORT=3000
MONGODB_URI=mongodb+srv://Sarthak:sarthak123@cluster0ne.heubq1y.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=hdbn9834bd3t897o25t4r203d4bt3682o83t228OP87T8T39T
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=H76iR68R68G9o87h8bt6TB8t7b97VB6v796V9V6
REFRESH_TOKEN_EXPIRY=10d




