PORT=8000
MONGODB_URI=mongodb+srv://Sarthak:sarthak123@cluster0ne.heubq1y.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dk5xfylpw
CLOUDINARY_API_KEY=893412385645991
CLOUDINARY_API_SECRET=GQNCA2WsmscoGer6sDEfhHqfC6Y